.chart-container {
  width: 100%;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 7px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.chart-container .heading {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.chart-container .heading .title-3 {
  margin: 0 !important;
}
.chart-wrapper {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    .main_wrapper {
      // sidebar

      aside {
        position: fixed;
        z-index: 1;
        bottom: 0;
        width: 100% !important;
        padding: 8px !important;
        background-color: whitesmoke !important;
        border-top: 1px solid #ccc;
        ul {
          display: flex !important;
          justify-content: space-around;
          padding: 0 !important;
          li {
            padding: 0 !important;
            margin: 0 !important;
            a {
              padding: 0 !important;
              flex-direction: column;
              justify-content: center !important;
              align-items: center !important;

              .icon-container {
                margin: 0 !important;
                padding: 8px;
                text-align: center;
              }

              span {
                font-size: 10px;
              }

              &:hover,
              &.router-link-active {
                color: $mainColor;
                border-right: none !important;

                svg {
                  color: $mainColor;
                }
              }
            }
          }
        }
      }

      main {
        padding: 64px 1rem !important;
      }
    }
  }
}

.dashboard {
  background-color: #f2f6f9;

  // Toolbar
  nav {
    height: 66px;
    padding: 0 3rem;
    background: $mainColor;
    background: -webkit-linear-gradient(left, #0170ff, #09d8fe);
    background: -moz-linear-gradient(left, #0170ff, #09d8fe);
    background: linear-gradient(to right, #0170ff, #09d8fe);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 1px 8px #016fff88;

    .logo {
      margin-right: 4rem;
    }

    .admin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-3;

      .notification_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #09d5fe;
        color: white;
        padding: 8px;
        border-radius: 30px;
        position: relative;
        z-index: 5;
        margin-right: 2rem;
        cursor: pointer;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

        svg {
          fill: currentColor;
          color: white;
          width: 12px;
          margin-left: 7px;
        }

        .notification {
          &.opened {
            // display: block;
            transform: scale(1);
          }
          // display: none;
          width: 252px;
          position: absolute;
          top: 40px;
          left: -103px;
          color: #000;
          background-color: #fff;
          border: 1px solid #d3d6df;
          border-radius: 5px;
          font-size: $font-4;
          transform-origin: right;
          transform: scale(0);
          transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

          h4 {
            padding: 0.5rem;
            border-bottom: 1px solid #ddd;
          }
          > div {
            padding: 1rem;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            color: #abadb9;
            transition: all 50ms linear;
            cursor: pointer;
          }
          > div:hover {
            background-color: #d3d6df20;
          }
        }
      }

      img {
        width: 35px;
        height: 35px;
        margin-right: 1rem;
        border: 1px solid #e4f4f7;
        border-radius: 100%;
      }
    }
    .search {
      position: relative;
      margin-right: auto;
      flex: 0 1 550px;

      /* #016fff / #09D7FE */

      input {
        margin: 0;
        border: none;
        font-size: $font-4;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
      }
      ::placeholder {
        /* Most modern browsers support this now. */
        color: #fff !important;
      }
    }
  }
  .main_wrapper {
    min-height: calc(100vh - 66px);
    display: flex;

    main {
      height: 100%;
      width: 100%;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 2rem;

      .container {
        max-width: 992px;
        width: 100%;
        margin: auto;
      }
    }
  }
}

// sidebar
aside {
  width: 240px;
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  ul {
    display: block;
    // padding-left: 32px;

    li {
      display: block;
      margin-bottom: 0.4rem;

      a {
        display: flex;
        align-items: center;
        position: relative;
        text-decoration: none;
        font-size: $font-3;
        color: #525252;
        padding: 0.6rem 0;
        transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

        .icon-container {
          margin-right: 16px;
          padding-left: 24px;
        }

        svg {
          width: 18px;
          fill: currentColor;
          // padding-left: 1rem;
        }

        &:hover,
        &.router-link-active {
          color: $mainColor;
          border-right: 2px solid $mainColor;
          background-color: #016fff11;

          svg {
            color: $mainColor;
          }
        }
      }
    }
  }
}
