@import './variables';

/* app */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Josefin Sans', sans-serif;
  font-size: $font-3;
}

// paypal
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #016fffaa;
  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    width: 50%;
    height: 60vh;
  }
}

@import './components';
@import './pages/stats';
@import './pages/tuts';
@import './pages/account';
@import './pages/install';
@import './pages/notFound';
