@import './variables';

/*  Reset
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

#app {
  font-family: 'Josefin Sans', sans-serif;
  font-size: $font-3;
}

@import './components';
@import './pages/stats';
@import './pages/billing';
@import './pages/tuts';
@import './pages/account';
@import './pages/notFound';
