@import 'tailwindcss/base';

@import 'tailwindcss/components';

/* ===========
    global Components
   =========== */

.link {
  @apply px-5 py-2 mr-1 inline-block text-sm;
}

.btn {
  @apply px-6 py-3 mr-1 inline-block text-sm text-white font-semibold uppercase rounded shadow-lg;
}

.title {
  @apply text-4xl font-body font-bold capitalize;
}
.title-helper {
  @apply text-2xl font-body font-semibold capitalize;
}

.main-text {
  @apply font-body text-sm;
}
/* ===========
    Sections
   =========== */

/* features scetion */

.feature-wrapper {
  @apply py-6 px-4 border border-solid border-gray-300 w-full relative cursor-pointer;

  &:hover {
    @apply shadow-lg;
    .feature-icon__inner {
      @apply text-white;
    }
    .feature-icon__wrapper {
      @apply main-gradient;
    }
    .feature-desc {
      @apply opacity-100;
    }
    .feature-bottom__bar {
      @apply opacity-100;
    }
  }
}
.feature-icon {
  @apply relative w-12 h-12 flex flex-row justify-center items-center mx-auto mb-4;
}
.feature-icon__wrapper {
  @apply absolute top-0 left-0 bottom-0 right-0 border border-solid border-main rounded rotate-45;
}
.feature-icon__inner {
  @apply w-8 h-8 fill-current text-main z-10;
}

.feature-title {
  @apply font-semibold text-sm text-main;
}
.feature-desc {
  @apply text-xs text-gray-800 mt-3 opacity-0;
}
.feature-bottom__bar {
  @apply absolute h-1 w-5/6 bg-main bottom-0 rounded-b -m-1 mx-auto opacity-0 z-10;
}
@screen md {
  .feature-wrapper {
    @apply w-1/2;
  }
}

@screen lg {
  .feature-wrapper {
    @apply w-1/4;
  }
}

/* Accordion section */

.accordion-item {
  @apply cursor-pointer;
  svg {
    transition: transform 250ms ease-in-out;
  }
}
.accordion-item[data-state='show'] {
  > .answer {
    @apply overflow-hidden h-auto p-4;
    transition: transform 250ms ease-in-out, max-height 150ms ease-out;
    max-height: 400px;
    transform-origin: top;
    transform: scaleY(1);
  }
  svg {
    transform: rotate(0.5turn);
  }
}
.accordion-item[data-state='hidden'] {
  > .answer {
    transform: scaleY(0);
    max-height: 0;
  }
}
/* auth section */
.auth {
  @apply overflow-y-hidden;
}
@screen md {
  .auth {
    @apply h-screen flex;
  }
}
.doorway {
  @apply relative h-35 main-gradient;
}
@screen md {
  .doorway {
    @apply h-full w-1/2 order-2 px-12;
  }
}

.door {
  @apply text-center;
}
@screen md {
  .door {
    @apply h-full w-1/2 order-1 px-12 text-left;
  }
}

.error {
  @apply bg-red-300 border border-red-700 font-semibold mt-2 mx-auto p-2 text-red-700 text-sm w-5/6;
}
@screen md {
  .error {
    @apply mx-0;
  }
}

@import 'tailwindcss/utilities';

/* ===========
    Helpers
   =========== */

.rotate-45 {
  transform: rotate(45deg);
}

@screen lg {
  .bottom-6 {
    bottom: -6rem !important;
  }
}

.h-large {
  height: 500px;
}

.main-gradient {
  background: rgb(34, 93, 254);
  background: -moz-linear-gradient(
    90deg,
    rgba(34, 93, 254, 1) 0%,
    rgba(34, 93, 254, 1) 0%,
    rgba(25, 147, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(34, 93, 254, 1) 0%,
    rgba(34, 93, 254, 1) 0%,
    rgba(25, 147, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(34, 93, 254, 1) 0%,
    rgba(34, 93, 254, 1) 0%,
    rgba(25, 147, 255, 1) 100%
  );
}
.background {
  background-size: 500px, cover;
  background-position: right, center;
  background-repeat: no-repeat;
}
.bg-pricing {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.transition {
  transition: all 200ms ease;
}
