@import 'tailwindcss/base';

@import 'tailwindcss/components';

.link {
  @apply px-5 py-2 mr-1 inline-block text-sm;
}

.btn {
  @apply px-6 py-3 mr-1 inline-block text-sm text-white font-semibold uppercase rounded shadow-lg;
}

.title {
  @apply text-4xl font-body font-bold capitalize;
}
.title-helper {
  @apply text-2xl font-body font-semibold capitalize;
}

.main-text {
  @apply font-body text-sm;
}

@import 'tailwindcss/utilities';

.rotate-45 {
  transform: rotate(45deg);
}

.-bottom-6 {
  bottom: -6rem;
}

.h-large {
  height: 380px;
}
