/* variables*/
$font-1: 26px;
$font-2: 22px;
$font-3: 16px;
$font-4: 14px;

// colors

$mainColor: #016fff;
$btnMainColor: #59cd90;

/* app */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mobile first */

@media only screen and (max-width: 768px) {
    .title-2 {
        font-size: $font-1 - 2px !important;
        margin-bottom: 2rem !important;
    }
    .title-3 {
        font-size: $font-2 - 2px;
        margin-bottom: 1.2rem !important;
    }
    .text {
        font-size: $font-3 - 2px !important;

        line-height: 130%;
        color: #888;
    }

    nav {
        padding: 1rem !important;
        .logo {
            margin: 0 !important;
            img {
                width: 120px !important;
            }
        }
        .search {
            display: none;
        }
    }
    .form {
        width: 100% !important;
    }
    .dashboard {
        .main_wrapper {
            // sidebar

            aside {
                position: fixed;
                z-index: 1;
                bottom: 0;
                width: 100% !important;
                padding: 1rem !important;
                ul {
                    display: flex !important;
                    justify-content: space-around;
                    li {
                        a {
                            padding: 0 !important;

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }

            main {
                padding: 1.4rem 1rem !important;
            }
        }
    }

    .tuts {
        .tuts_wrapper {
            .video {
                height: 240px !important;
            }
        }
    }
    // install
    .install {
        .install_wrapper {
            height: 100vh;
            flex-direction: column;

            & > section {
                padding: 2rem !important;
                text-align: center;
            }

            // installation section
            .install {
                .logo {
                    display: block;
                    margin-bottom: 4rem !important;
                }
                & > img {
                    display: block;
                    margin: auto;
                    margin-bottom: 2rem;
                }
                .input {
                    margin: auto;
                    width: 333px !important;
                }
                .cta {
                    width: 100% !important;
                    margin: auto;
                }
                .blue {
                    background-color: #263b80 !important;
                }
            }

            // Hero section
            .hero {
                background: #0291fe;
                background: -webkit-linear-gradient(right, #0291fe, #0172ff);
                background: -moz-linear-gradient(right, #0291fe, #0172ff);
                background: linear-gradient(to left, #0291fe, #0172ff);

                display: none;
            }
        }
    }

    .not_found {
        > .cta {
            width: 231px !important;
            height: 45px !important;
            font-size: 14px !important;
        }

        > img {
            transform: scale(3.2) !important;
        }

        > p {
            width: 80% !important;
            color: #fff !important;
        }
    }
}

@media only screen and (max-width: 999px) {
    // tuts
    .tuts {
        .tuts_wrapper {
            flex-direction: column;
            .list {
                width: 100% !important;
                order: 2;
            }
        }
    }
    // install
    .install {
        .install_wrapper {
            & > section {
                padding: 2rem !important;
            }

            // installation section
            .install {
                .input {
                    width: 300px !important;
                }
            }

            .hero {
                .hero_text {
                    width: 80% !important;

                    // margin: 2rem !important;
                    margin-top: 6rem !important;
                    .lg_text {
                        font-size: 60px !important;
                    }
                }
            }
        }
    }
}

#app {
    font-family: "Josefin Sans", sans-serif;
    font-size: $font-3;

    /* Typoghraphy */
    .lg_text {
        font-size: 66px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .title-2 {
        font-size: $font-1;
        margin-bottom: 3rem;
    }
    .title-3 {
        font-size: $font-2;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    .text {
        font-size: $font-3;
    }
    .sub-text {
        font-size: $font-4;
        line-height: 150%;
        opacity: 0.5;
        margin-bottom: 1rem;
    }

    /* call to action  */
    .cta {
        display: block;
        height: 51px;
        width: 159px;
        margin-bottom: 1.5rem;
        // background-color: #95bf47;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: $font-4;
        color: #fff;
        outline: none;
        transition: all 100ms ease-out;
        &:hover {
            transform: scale(1.02);
        }
        &.primary {
            background-color: $mainColor;
            box-shadow: 0px 1px 8px #016fff88;
        }
        &.shopify {
            background-color: #95bf47;
        }
        &.paypal {
            background-color: #263b80 !important;
        }

        &.wc {
            background-color: #945c87 !important;
        }
    }
    /* Input form */

    .form {
        width: 70%;
    }

    .input {
        display: block;
        width: 100%;
        padding: 0.6rem;
        color: #8e8ea8;
        border-radius: 3px;
        margin-bottom: 1.5rem;
        border: 1px solid #d5d5e3;
        outline: none;
        text-indent: 7px;
        &:focus {
            outline: 1px solid #016fff;
        }
        &.textarea {
            resize: none;
        }
    }
    ::placeholder {
        /* Most modern browsers support this now. */
        color: #8e8ea8;
    }

    label {
        display: block;
        color: $mainColor;
        font-size: $font-4;
        margin-bottom: 0.5rem;
    }

    /* tiny flex system */
    .flex {
        display: flex;
        > .item {
            flex-grow: 1;
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    /* views */

    // dashboard

    .dashboard {
        background-color: #f2f6f9;

        // Toolbar
        nav {
            height: 66px;
            padding: 0 3rem;
            background: $mainColor;
            background: -webkit-linear-gradient(left, #0170ff, #09d8fe);
            background: -moz-linear-gradient(left, #0170ff, #09d8fe);
            background: linear-gradient(to right, #0170ff, #09d8fe);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            box-shadow: 0px 1px 8px #016fff88;

            .logo {
                margin-right: 4rem;
            }

            .admin {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: $font-3;

                .notification_wrapper {
                    display: none;
                    position: relative;
                    // display: block;
                    margin-right: 2rem;
                    cursor: pointer;

                    .notification {
                        width: 252px;
                        position: absolute;
                        top: 40px;
                        left: -103px;
                        color: #000;
                        background-color: #fff;
                        border: 1px solid #d3d6df;
                        border-radius: 5px;
                        font-size: $font-4;
                        h4 {
                            padding: 0.5rem;
                            border-bottom: 1px solid #ddd;
                        }
                        > div {
                            padding: 1rem;
                            border-bottom: 1px solid #ddd;
                            font-size: 16px;
                            color: #abadb9;
                            transition: all 50ms linear;
                            cursor: pointer;
                        }
                        > div:hover {
                            background-color: #d3d6df20;
                        }
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 1rem;
                }
            }
            .search {
                position: relative;
                margin-right: auto;
                flex: 0 1 550px;

                /* #016fff / #09D7FE */

                input {
                    margin: 0;
                    border: none;
                    font-size: $font-4;
                    color: #fff;
                    background-color: rgba(255, 255, 255, 0.1);
                }
                ::placeholder {
                    /* Most modern browsers support this now. */
                    color: #fff !important;
                }
            }
        }
        .main_wrapper {
            min-height: calc(100vh - 66px);
            display: flex;

            // sidebar
            aside {
                width: 240px;
                padding: 2rem 0;
                background-color: #fff;
                box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
                ul {
                    display: block;

                    li {
                        display: block;

                        a {
                            display: flex;
                            align-items: center;
                            position: relative;
                            text-decoration: none;
                            font-size: $font-3;
                            color: #a0a5b8;
                            padding-left: 3rem;
                            padding-bottom: 2.5rem;
                            transition: all 100ms ease-out;

                            svg {
                                margin-right: 1rem;
                                width: 18px;

                                path {
                                    stroke: #a0a5b8 !important;
                                }
                            }

                            &:hover,
                            &.router-link-active {
                                color: $mainColor;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -1px;
                                    top: 4px;
                                    width: 3px;
                                    height: 18px;
                                    border-radius: 5px;
                                    background-color: $mainColor;
                                }
                                svg {
                                    path {
                                        stroke: $mainColor !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            main {
                height: 100%;
                width: 100%;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                padding-top: 2rem;

                .container {
                    max-width: 992px;
                    width: 100%;
                    margin: auto;
                }
            }
        }

        //******  PAGES ********//

        // Support

        // tuts
        .tuts {
            .tuts_wrapper {
                display: flex;
                // justify-content: space-between;
                align-items: flex-start;
                // flex-wrap: wrap;
                .list {
                    display: block;
                    width: 37%;
                    margin-right: 2rem;
                    background-color: #fff;
                    color: $mainColor;
                    ul {
                        display: block;
                        border: 0.2px solid #016fff;
                        font-size: $font-4;
                        border-top: none;
                        padding: 1.3rem;
                        cursor: pointer;
                        transition: all 100ms ease-out;

                        &:first-child {
                            border-top: 0.2px solid #016fff;
                        }
                        &:hover {
                            background-color: #016fff;
                            color: #fff;
                        }
                    }
                }

                .video-container {
                    width: 100%;
                    margin-bottom: 2rem;
                    h4 {
                        margin-bottom: 1rem;
                    }
                    .video {
                        height: 320px;
                        background-color: cornflowerblue;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: $font-4;
                        line-height: 140%;
                        text-align: justify;
                    }
                }
            }
        }

        // setting

        // account
        .account {
            .title-3 {
                color: $mainColor;
            }
            .text {
                margin-bottom: 2rem;
            }
        }
    }

    // install
    .install {
        .install_wrapper {
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;

            & > section {
                padding: 3rem 0 0 4rem;
                flex: 0 1 50%;
            }

            // installation section
            .install {
                .logo {
                    display: block;
                    margin-bottom: 4rem !important;
                }
                & > img {
                    display: block;
                    margin-bottom: 2rem;
                }
                .input {
                    width: 333px !important;
                }
            }

            // Hero section
            .hero {
                background: #0291fe;
                background: -webkit-linear-gradient(right, #0291fe, #0172ff);
                background: -moz-linear-gradient(right, #0291fe, #0172ff);
                background: linear-gradient(to left, #0291fe, #0172ff);
                position: relative;
                z-index: -2;

                .hero_text {
                    z-index: 3;
                    color: white;
                    width: 500px;
                    margin-top: 144px;
                    margin-left: 80px;
                    text-transform: capitalize;
                }
                & > svg {
                    z-index: -1;
                    position: absolute;
                    left: -90px;
                    top: 0;
                    width: 100%;
                    height: 100vh;
                }
                .blueSvg {
                    linearGradient {
                        stop:first-child {
                            stop-color: #263b80;
                        }
                    }
                }
            }
        }
    }

    // not found
    .not_found {
        height: 100vh;
        overflow: hidden;
        text-align: center;
        position: relative;
        color: #fff !important;

        padding-top: 8rem;

        > .cta {
            width: 331px !important;
            height: 61px !important;
            margin: 2rem auto !important;

            background-color: #fff !important;
            color: #0290fe !important;
            font-size: 18px !important;
            font-weight: 700;
        }

        > h1 {
            font-size: 10rem;
        }
        > .title-2 {
            text-transform: uppercase;
        }

        > img {
            width: 100%;
            height: 100%;
            transform: scale(2.2);
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        > p {
            width: 40%;
            margin: 1rem auto;
        }
    }
}
